.list{
    display: grid;
    /* grid-template-rows: repeat(auto-fit, 300px); */
    border: 1px solid;

}

.cart{
        align-items: start;
    column-gap: 2em;
  
    border: 1px solid;

}

.summary{
    border: 1px solid;
    min-width: 300px;
    /* min-height: 400px; */
    padding: 1em 2em;
    display: grid;
    gap: 1em;
    align-content: space-between;
}

.breakdown{
    border: 1px solid;
    display: grid;
    gap: .5em;
    font-size: 1.125em;
}

.itemValue{
    
}

.checkout{
    
    width: 100%;
    padding: 1em 3em ;
}

@media (max-width:855px) {
    .cart{
        justify-content: start;
    }
    .summary{
        width:100%;
    }
}