.card{
    width: 100%;
    /* max-width: 350px; */
    height: 100%;
    padding: 1rem 1.5rem;
    background-color: hsla(0, 0%, 50%,0.1);
    border-radius: 16px;
}

.category{
    font-size: 15px;
    letter-spacing: 1px;
    
}

.title{
    font-size: var(--f-1_5);
    line-height: 1;
}

.price{
    font-size: 1.125em;
    font-weight: 100;
}

.content{
    display: grid;
    gap: .5rem;
}