.home {
    display: grid;
    gap: 1.5rem;

}

.hero {

    background: linear-gradient(to top, hsla(0, 0%, 0%, 0.3), hsla(0, 0%, 0%, 0.1)),
        var(--hero-img__desktop);
    /* url('https://images.unsplash.com/photo-1483985988355-763728e1935b?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')  center / cover no-repeat; */
    
    min-height: 670px;
    /* min-height: 75vh; */
    border-radius: var(--br-xl);

}


.content {
    /* width: 100%; */
    height: 100%;
    padding-block: 3rem;
    font-family: 'Poppins', sans-serif;


}

.texts {
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    color: white;

}

.title {
    font-size: var(--f-4);
    line-height: 1.25;
    font-weight: 300;
    max-width: 20ch;
    /* font-family: 'Poppins'; */

}

.subTitle {
    margin-top: auto;

}

.carousel {
    width: 25%;
}

.showcase {
    margin-top: -2rem;
}

.nav {
    /* display: flex; */
    justify-content: center;
    /* gap: 1em; */

}

.scContent {}

.scText {
    display: grid;
    justify-content: center;
    padding-block: 2em;
    text-transform: uppercase;
    text-align: center;
}

.scTitle {
    font-size: var(--f-sect);
    line-height: 1.2;
    max-width: 22ch;
    margin-inline: auto;
    font-family: 'Poppins';


}

.scSubtitle {
    display: inline-block;
    max-width: 32em;
}

.twoCol {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    column-gap: 1em;
    color: white;

    
}

.colImg {

    width: 100%;
    grid-column: span 2;
    max-height: 650px;
    object-fit: cover;
    object-position: center;
    border-radius: var(--br-xl);

}

.colTexts {
    width: 100%;
    height: 100%;
    padding: 2rem 2rem 0.5rem;
    background-color: orangered;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: var(--br-xl);


}

.colTitle {
    font-size: var(--f-sect);
    

}

.colSubTexts {
    margin-top: auto;
    font-size: 15px;


}

.colSubtitle {
    font-size: var(--f-1_5);
    margin-block-end: 3rem;
}

.full {
    width: 100%;
}

.infoText {
    /* padding-block-end: 2rem; */


    & h2 {
        font-size: var(--f-sect);
        max-width: 25ch;

    }

    & p {
        max-width: 40ch;
        text-align: right;
    }
}

.fullImg {
    width: 100%;
    max-height: 700px;
    object-fit: cover;
    border-radius: var(--br-xl);
    object-position: top center;
}


@media (max-width:1028px) {
    .hero {

        background: linear-gradient(to top, hsla(0, 0%, 0%, 0.3), hsla(0, 0%, 0%, 0.1)),
            var(--hero-img__tablet);

    }
}

@media (max-width: 768px) {
    .hero {

        background: linear-gradient(to top, hsla(0, 0%, 0%, 0.3), hsla(0, 0%, 0%, 0.1)),
            var(--hero-img__mobile);

        min-height: 80vh;
        ;

    }

    .scText {
        text-align: left;
    }


    .twoCol {
        grid-template-columns: 1fr;
        ;
    }

    .colImg {
        grid-column: span 1;
    }

}