.home {
    display: grid;
    gap: 1.5rem;

}

.hero {

    background: linear-gradient(to top, hsla(0, 0%, 0%, 0.3), hsla(0, 0%, 0%, 0.1)),
        var(--hero-img__desktop);
    min-height: 670px;
        border-radius: var(--br-xl);
    font-family: "Rubik", sans-serif;


}




.content {
    /* width: 100%; */
    height: 100%;
    padding-block: 3rem;
    


}

.texts {
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    color: white;
    font-family: "Rubik", sans-serif;



}

.title {
    font-size: var(--f-4);
    line-height: 1.25;
    font-weight: 300;
    max-width: 15ch;

    /* font-weight:600 ; */
    /* text-transform: capitalize; */
    font-style: italic;
    font-weight: 300;
    letter-spacing: -2px;

    font-optical-sizing: auto;


}

.title span {
    color: var(--accent-clr);
    font-weight: 600;


}

.subTitle {
    margin-top: auto;

    font-weight: 400;



}

/* .carousel {
    width: 25%;
} */

.showcase {
    margin-top: -2rem;
}

.nav {
    /* display: flex; */
    justify-content: center;
    /* gap: 1em; */

}

.scContent {}

.scText {
    display: grid;
    justify-content: center;
    padding-block: 2em;
    text-transform: uppercase;
    text-align: center;
    gap: 1.2em;
    font-family: "Rubik", sans-serif;

}

.scTitle {
    font-size: var(--f-sect);
    line-height: 1.2;
    width: 20ch;
    margin-inline: auto;
    font-family: "Rubik", sans-serif;



}

.scSubtitle {
    display: inline-block;
    max-width: 32em;
}

.twoCol {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    column-gap: 1em;
    color: white;



}

.colImg {

    width: 100%;
    grid-column: span 2;
    max-height: 650px;
    object-fit: cover;
    object-position: center;
    border-radius: var(--br-xl);

}

.colTexts {
    width: 100%;
    height: 100%;
    padding: 2rem 2rem 0.5rem;
    background-color: orangered;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: var(--br-xl);
    min-height: 300px;


}

.colTitle {
    font-size: var(--f-sect);


}

.colSubTexts {
    margin-top: auto;
    font-size: 15px;


}

.colSubtitle {
    font-size: var(--f-1_5);
    margin-block-end: 3rem;
}

.full {
    width: 100%;
}

.infoText {
    /* padding-block-end: 2rem; */
    margin-block: 2em;



    & h2 {
        font-size: var(--f-sect);
        max-width: 25ch;
        line-height: 1;


    }

    & p {
        max-width: 40ch;
        text-align: right;
    }
}

.fullImg {
    width: 100%;
    max-height: 700px;
    object-fit: cover;
    border-radius: var(--br-xl);
    object-position: top center;
}


@media (max-width:1028px) {
    .hero {

        background: linear-gradient(to top, hsla(0, 0%, 0%, 0.3), hsla(0, 0%, 0%, 0.1)),
            var(--hero-img__tablet);

    }
}

@media (max-width: 768px) {
    .hero {

        /* background: linear-gradient(to top, hsla(0, 0%, 0%, 0.3), hsla(0, 0%, 0%, 0.1)),
            var(--hero-img__mobile); */

        min-height: 80vh;
        ;

    }

    .scText {
        text-align: left;
        justify-content: center;
    }

    .scTitle{
        /* width: 100%; */
        margin: 0;
    }


    .twoCol {
        grid-template-columns: 1fr;
        ;
    }

    .colImg {
        grid-column: span 1;
    }

}