.shop {
    align-items: start;
    gap: 2em;
}

.aside {
    width: 300px;
    display: grid;
    gap: 1.5em;
    /* border: 1px solid; */
}

.categories{
    min-height: 100px;
}


.category{
    border: 1px solid grey;
    padding: .5em .75em;
    border-radius: 8px;
    margin-block-end: .5em;
}

.shipping{
    margin-block-start: 3em;
}
.filterSub {
    /* padding-inline-start: 1em; */
}



.bonus {
    width: 100%;
    min-height: 600px;
    background: linear-gradient(to right, hsla(0, 0%, 0%, 0.9), hsla(0, 0%, 0%, 0.1)),
        url('../../assets/images/Urban\ Group\ Portrait.webp') top center / cover no-repeat;
    border-radius: var(--br-xl);
    position: relative;
    margin-block-start: 4em;
}




.selectAll {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: .5em;
    font-size: 14px;
}

.filterIcon {
    display: none;
}

.priceInput{
    display: flex;
    gap: .25em;
}

.priceInput input[type="number"]{
    width: 100%;
    border: none;
    border-inline-start: 1px solid;
    outline:none;
    padding: .25em .5em;
    flex:1;
}

.priceInput label{
    border: 1px solid;
    display: flex;
    gap:0.25em;
    padding-inline-start: .25em;
    max-width: 6em;

}





@media (max-width:787px) {

    .aside{
        
    }
    .filterIcon {
        display: block;
    }
}