.card {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);   
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.img {
   
    width: 200px;
    height: 100%;
    background-color: grey;
}

.img img{
    width: 100%;
    height: 100%;
}

.del {
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: -0;
    border: none;
    font-size: 1.25em;
    color: var(--accent-clr);
    background-color: transparent;
    padding: 0 .5em;
}

.del:hover{
    color:red;
}

.content{
    padding: 1.5em 2em ;
    display: grid;
    flex: 1;
    gap: .5em;
}

.title{
    font-size: 1.5em;
    line-height: 1.125;
    margin-block-end: .25em;
    /* max-width: 15ch; */
}

.price {
    position: relative;
    width: fit-content;
    font-weight: 300;


}

.price::before {
    content: 'each';
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: -35px;
    font-size: 14px;
}

@media (max-width:855px) {
    .card{
        flex-wrap: wrap;
    }

    .img{
        width: 100%;
        height: 200px;

        & img{
            object-fit: contain;
        }
    }
    
    .content{
        padding-inline: 1em;
    }
}