.header {
    background-color: hsla(0, 0%, 50%, 0.15);
    /* background-color: var(--accent-clr); */
    border-radius: var(--br-xl);
    font-weight: 400;
}

.heading {
    font-size: var(--f-1_5);
}

.navList{
    display: flex;
    align-items: center;
    gap: 2em;
}

.navLink {
    font-size: 1em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 0.25em;
   
}




.navLink:hover{
    color: var(--primary-clr);
   
  

}

.active{
   
    color: #3C6E71;
}

.navIcon{

}
.navIcons{

}

.count {
    position: relative;
}

.count::before {
    content: attr(data-count);
    font-size: 0.75em;
    position: absolute;
    inset-block-start: -1em;
    inset-inline-end: -16px;
    padding: 0.25em 0.75em;
    /* background-color: red; */
    color: red;
    
    border-radius: 50px;
    font-weight: 700;
    z-index: -1;
}

.navList {}

.navIconLink {
    background-color: white;
    padding: .5rem;
    border-radius: 50%;
    display: grid;
    align-items: center;
}


@media (max-width:855px) {
    .navIcons {
        display: none;
    }

}