.header{
    background-color: hsla(0, 0%, 50%,0.15);
    border-radius: 2rem;
}

.heading{
    font-size: 1.5em;
}



.navLink{
    font-size: 1.15em;
    text-transform: uppercase;
  
}
.navIcon{
   
}

.navIconLink{
     background-color: white;
    padding: .5rem;
    border-radius: 50%;
    display: grid;
    align-items: center;
}