.header {
    background-color: hsla(0, 0%, 50%, 0.15);
    border-radius: var(--br-xl);
}

.heading {
    font-size: var(--f-1_5);
}



.navLink {
    font-size: 1.15em;
    text-transform: uppercase;

}

.navIcon{

}
.navIcons{

}

.count {
    position: relative;
}

.count::before {
    content: attr(data-count);
    font-size: 0.75em;
    position: absolute;
    inset-block-start: -.5rem;
    inset-inline-end: -16px;
    padding: 0.25em 0.75em;
    background-color: red;
    border-radius: 50px;
    color:white;
    font-weight: 700;
    z-index: -1;
}

.navList {}

.navIconLink {
    background-color: white;
    padding: .5rem;
    border-radius: 50%;
    display: grid;
    align-items: center;
}


@media (max-width:855px) {
    .navIcons {
        display: none;
    }

}