.footer {
    align-items: start;
    background-color: var(--text-clr);
    color: white;
    border-radius: var(--br-xl) var(--br-xl) 0 0;
}

.firstCol {
    display: grid;
    justify-content: space-between;
    gap: 2rem;
    min-height: 150px;
}

.navList {
    display: grid;
    font-size: 2rem;
    line-height: 1.5;
}