:root {

  --cart-count: '99';
}



#root {
  max-width: 1380px;
  margin: 0 auto;
  padding: 1rem 2rem;
  padding-block-end: 0;
  /* text-align: center; */
}


.wrapper {
  display: grid;
  gap: 1rem;
}


.row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.center {
  justify-content: center;
}

.row-col {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btw {
  justify-content: space-between;
  align-items: center;
}

.row-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.col {
  display: grid;
  align-content: start;
  gap: .5rem;
}

.container {
  padding: 1.5rem 3rem;

}

.logo {
  font-size: 1.5em;
}

main {
  min-height: 100vh;
  display: grid;
  gap: 1rem;
}

/* .count-wrapper {

  width: 150px;
  gap: 0;
  border-radius: 4px;
  justify-content: space-between;
  

}

.cart__btn {
  padding: 0 .5em;
  text-align: center;
  font-size: inherit;
  text-align: center;
  background-color: transparent;
  border: 1px solid;
  border-radius: inherit;
  
}


.cart__btn {
  width: 35px;
  font-size: 1.25em;
}

.cart__btn:hover,
.cart__btn:active {
  background-color: grey;
  color: white;
} */

.content {
  display: grid;
  gap: .5rem;
}

.status {
  position: absolute;
  inset-block-start: 1em;
  inset-inline-end: 0;
  padding: .25em 1.5em;
  font-size: .85em;
  font-weight: 600;
  color: white;
  border-radius: 32px 0 0 32px;
  text-transform: uppercase;
  opacity: .8;
}

.inStock {
  background-color: green;
}

.lowStock {
  background-color: orange;

}

.outStock {
  background-color: red;

}

.counter {
  display: flex;
  justify-content: end;
  align-items: center;
  /* margin-block-start: auto; */
  gap: 3em;

}

.counter button {
  padding: .25em .85em;
  border: none;
  min-width: px;
  aspect-ratio: 1;
  box-shadow: 3px 3px 1px 2px hsla(0, 0%, 0%, 0.25);
  transition: box-shadow 300ms ease;
  font-weight: 600;


}

.counter button:hover,
/* .counter button:focus-within, */
.counter button:active {
  outline: none;
  box-shadow: 0px 0px 1px 0 hsla(0, 0%, 0%, 0.25);
}


.counter button:focus {
  box-shadow: none;
  
}

.counter-btns {
  display: flex;
  gap: 1em;
}

.counter span {
  display: inline-block;
  position: absolute;
  /* inset-block-start: 2em; */
  inset-inline-start: 0;
  background: blue;
  background-color: var(--accent-clr);
  width: 5ch;
  font-size: 1.25em;
  padding-inline: .35em;
  color: white;
  font-weight: 600;
  border-radius: 0 4px 4px 0;
  text-align: center;
  /* border-radius: 8px; */
}

.counter span.counter--product {
  inset-block-start: 2em;


}

.counter span.counter--cart {

  inset-block-end: 1em;


}


@media (max-width:855px) {

  :root {
    --br-xl: initial;
  }

  #root {
    padding: 0;
    gap: 0;
  }

  .row-col,
  .row-btw {
    flex-direction: column;
    align-items: start;
  }

  .row-wrap{
    gap: 0;
  }

  .container {
    padding: 1.25em;
  }

  .counter{
    width: 100%;
  }
  .counter span.counter--cart {
    inset-block-end: auto;
    inset-block-start: 1em;


  }

  .hide-m {
    display: none;
  }



}


