#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 2rem;
  /* text-align: center; */
}


.wrapper{
  display: grid;
  gap: 2rem;
}

.row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.row-btw {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.row-wrap{
   display: flex;
 flex-wrap: wrap;
  gap: 1rem;
}

.col {
  display: grid;
  align-content: start;
  gap: .5rem;
}

.container {
  padding: 1.5rem 3rem;

}

.logo {
  font-size: 1.5em;
}

main{
  min-height: 100vh;
}