:root {
  --f-clr: red;
  --f-4: clamp(2rem, 1.292rem + 3.5398vw, 4.5rem);
  --f-sect: clamp(1.75rem, 1.5376rem + 1.0619vw, 2.5rem);
  --f-1_5: clamp(1.25rem, 1.1792rem + 0.354vw, 1.5rem);
  --f-2: clamp(1.5rem, 1.3584rem + 0.708vw, 2rem);
  --f-1_2_5: ;

  --br-xl: 2rem;


  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    interpolate-size: allow-keywords;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
}

ul {
  list-style: none;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

button,
a {
  cursor: pointer;
  font: inherit;
}

fieldset {
  border: none;
}

summary {
  font-size: 1.2em;

}

details {
  overflow: hidden;
  /* padding: .5em; */


}

details::details-content {
  block-size: 0;
  transition: block-size 500ms, content-visibility 500ms;
  transition-behavior: allow-discrete;
}

details:open::details-content {
  block-size: auto;
}

details summary::marker,
:is(::-webkit-details-marker) {
  content: '';
  list-style: none;
}

summary .d-icon {
  transition: transform 300ms ease;
}

details[open] summary .d-icon {
  transform: rotate(-180deg);
}

